<div class="container">
  <h1><%= @user.email %></h1>

  <h1>Mes superheros</h1>
  <%= link_to new_superhero_path,  class:"btn btn-primary mt-3"  do %>
    <i class="fa-solid fa-plus"></i> Add a new superhero
  <% end %>
  <ul>
    <% @user.superheros.each do |superhero| %>
      <li class="list-group-item mt-3">
          <%= link_to superhero_path(superhero) do %>
            <%= superhero.name %>
          <% end %>
          <%= link_to edit_superhero_path(superhero) do %>
            <span class="span-edit">Edit</span>
          <% end %>
          <%= link_to superhero_path(superhero),
                      class:"trash-btn",
                      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  do %>
          <i class="fa-solid fa-trash"  id="delete-ico"></i>
          <% end %>
      </li>
    <% end %>
  </ul>

  <h1>Mes bookings de superheros</h1>
  <ul>
    <% @user.bookings.each do |booking| %>
      <li>
        <%= booking.superhero.name %> is booked
      </li>
      <li>
        From <%= booking.checkin %> to <%= booking.checkout %>
      </li>
    <% end %>
  </ul>


  <h1>Les bookings de mes superheros</h1>
  <ul>

      <% @user.superheros.each do |superhero| %>
        <% if superhero.bookings.any? %>
        <li>
          <%= superhero.name %> is booked
        </li>
        <% end  %>
        <% superhero.bookings.each do |booking| %>
          <li>
            From <%= booking.checkin %> to <%= booking.checkout %>
            by <%= booking.user.email %>
          </li>
        <% end %>
      <% end %>

  </ul>
</div>
