<div class="hero-show-sh d-flex flex-column justify-content-end py-5" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('<%= @superhero.coverimage %>');">
  <div class="container">
    <h1><%= @superhero.name %></h1>
    <h3>// <%= @superhero.category %></h3>
    <p><%= @superhero.team %></p>
  </div>
</div>


<div class="container">
  <div class="row mt-5">
    <div class="col-8">

      <% if @superhero.user == current_user %>
        <%= link_to edit_superhero_path(@superhero), class:"btn btn-outline-primary" do %>
          <span>Edit</span>
        <% end %>

        <%= link_to superhero_path(@superhero),
                    class:"btn btn-outline-primary ms-2",
                    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  do %>
          <span>Delete</span>
        <% end %>
      <% end%>

      <h1 class="mt-2"><%= @superhero.booktitle %></h1>
      <p><%= @superhero.description %></p>
      <img src="<%= @superhero.image_url %>" alt="superhero" style="max-width:80%;">

      <% if @superhero.reviews.any? %>
        <hr>
        <h2>Commentaires</h2>
        <ul class="list-group">
          <% @superhero.reviews.each do |review| %>
            <li class="list-group-item"><%= review.comment %> by <%= review.user.email %></li>
          <% end %>
        </ul>
      <% end %>
      <hr>

      <h2>Faire un retour sur la préstation de <%= @superhero.name %></h2>
      <%= simple_form_for [@superhero, @review] do |f| %>
      <%= f.input :comment %>
      <%= f.input :rating %>
      <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="col-4">
      <div class="booking-area p-4 border rounded" data-controller="totalprice">
        <div class="price border-bottom pb-3"><span data-totalprice-target="price">132</span> € par jour</div>
        <%= simple_form_for [@superhero, @booking] do |f| %>
          <%= f.input :checkin,
             label: "Jour de début de mission",
             as: :string,
             input_html: { data: { controller: "datepicker", totalprice_target: "checkin", action: "change->totalprice#calcul"} } %>
          <%= f.input :checkout,
              label: "Jour de fin de mission",
              as: :string,
              input_html: { data: { controller: "datepicker", totalprice_target: "checkout" , action: "change->totalprice#calcul"}  } %>
          <p class="text-center">Aucun montant ne vous sera débité pour le moment</p>
          <%= f.button :submit, class: "btn btn-primary w-100 py-3", label: "Réserver ce super héro" %>
        <% end %>
        <div class="total-price border-top mt-3 pt-3 text-end" data-totalprice-target="totalPrice"></div>
      </div>
    </div>
  </div>

</div>
