<!DOCTYPE html>
<html>
  <head>
    <title>RailsVoughtAgency</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="container-fluid">
    <div class="row">
      <div class="col-2">
        <%= render "shared/navbar" %>
      </div>
      <div class="col-10">
        <%= yield %>
        <%= render "shared/flashes" %>

      </div>
    </div>
  </body>
</html>
